/* Định dạng menu */
nav {
    background: #d4f2f4;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: #0b0848;
    text-decoration: none;
    font-weight: bold;
}

/* Định dạng phần giới thiệu */
#gioithieu {
    background: #F3FDE8;
    padding: 20px;
}

/* Định dạng phần liên lạc (ảnh nền online) */
#lienlac {
    background: url('https://media.istockphoto.com/id/1205872379/vector/abstract-background-of-smooth-curves.jpg?s=612x612&w=0&k=20&c=iSVtjNn-UVardlSWofafiwyoci93HEzvB647mz119EI=');
    background-repeat: repeat;
    background-size: cover;
    text-align: center;
    padding: 40px;
    color: rgb(22, 3, 3);
}

/* Định dạng tiêu đề */
h1, h2, h3, h4 {
    font-size: 24px;
    -webkit-text-stroke: 1px black; /* Viền chữ màu đen */
}

/* Định dạng bảng */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

/* Footer */
footer {
    background: #d4f2f4;
    color: #0b0848;
    text-align: center;
    padding: 10px;
}
